<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>create product</title>
  </head>
  <body>
    <form action="/products" method="POST">
      <label for="product">Enter Product</label>
      <input id="product" type="text" name="title" />
      <button>Add Product</button>
    </form>
  </body>
</html>
